<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CornellBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RaymarchingBasics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Snail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sdPrimitives.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE172AEB25E53409001E91A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1EBC6F25D7BBC700EFBADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1EBC8725D7C9BB00EFBADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE51C40025E4B95F00DE2805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE51C41825E4C34F00DE2805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5F9FC425DCCDE5009BA184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEA2892B25DD13ED00A2C3A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEA2895125DD174C00A2C3A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEA2897725DD1E2500A2C3A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEA82FAF25D2011500AFE269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEBDBD6F25DB2EA500AA2E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
